.vscode/arqCre.bin
arqDec.bin
arqCre.bin
arqDes.bin
.vscode/tasks.json
gerador/a.exe
.vscode/arqDec.bin
.vscode/arqDes.bin
arqCreArvBin.bin
.gitignore
arqDecArvBin.bin
a.exe
Trabalho-Pratico-1-ED2.code-workspace
arqDesArvBin.bin
